<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Math Bubble !</title>

<link href="assets/css/styles.css" rel="stylesheet">
 <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49852533-1', 'testdouble.es');
  ga('send', 'pageview');
</script>
</head>
<body>
    <a href="https://github.com/danibrutal/Math-Bubble"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
    
    <section id="app">
        <div id="game-wrapper"></div>
    </section>

    <script type="text/template" id="user-score-tpl">
        <label>Pts:</label>
        <span id="mathi-points"><%- points %></span>        
    </script>

    <script type="text/template" id="challenge-tpl"> 
        <div class="wrapper-ball">
            <div id="mathi-ball">
                <div id="test" class="mathi-expression"><%- expression %></div>
            </div>
        </div>        
    </script> 
    
    <script type="text/template" id="user-panel-tpl">                
        <form action="./" id="mathi-solution-form">
                <input type="text" value="" placeholder="Solution" id="mathi-solution"/>
                <button class="number">1</button>
                <button class="number">2</button>
                <button class="number">3</button>
                <button class="number">4</button>
                <button class="number">5</button>
                <button class="number">6</button>
                <button class="number">7</button>
                <button class="number">8</button>
                <button class="number">9</button>
                <button class="number">0</button>
                <button class="equal">=</button>
                <div class="clear"></div>
        </form> 
        <div class="clear"></div>
    </script>      

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/bb-1.1.2-min.js"></script>
    <script src="assets/js/jquery-animate-css-rotate-scale.js"></script>
    <script src="assets/js/requestAnimationFrame.js"></script>
    <script src="assets/js/jquery.tap.js"></script>
    <script src="assets/js/mathi.js"></script>

    <script type="text/javascript">
    
        $(function() {  
            Mathi.init('#game-wrapper');
        });  
    </script>
</body>
</html>