<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CarouselApp !</title>

<link href="assets/css/styles.css" rel="stylesheet">
 <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    
    <br />
    <input type="button" id="button2" value="butt">
    <div id="test-wrapper">
        <div id="test" >7 X 2</div>
    </div>
    
    <div class="carrousel" id="tights"></div>
    <div>
        <figure>1</figure>
        <figure>2</figure>
        <figure>3</figure>
        <figure>4</figure>
        <figure>5</figure>
    </div>
    
    <script type="text/template" id="item-tpl">        
        <img  src="<%- filename %>" id="<%= id %>" class="item"/>        
    </script>
    
    <script type="text/template" id="carrousel-tpl">
        <a href="#" class="controls left"> </a>
        <a href="#" class="controls right"> </a>
        
        <div class="carrousel-wrapper">
            <ul></ul>
        </div>        
    </script>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/bb-1.1.2-min.js"></script>
    <script src="assets/js/app.js"></script>


    <script type="text/javascript">
    function whichTransitionEvent(){
        var t;
        var el = document.createElement('fakeelement');
        var transitions = {
          'transition':'transitionend',
          'OTransition':'oTransitionEnd',
          'MozTransition':'transitionend',
          'WebkitTransition':'webkitTransitionEnd'
        }

        for(t in transitions){
            if( el.style[t] !== undefined ){
                return transitions[t];
            }
        }
    }

    $(function() {  

        var transitionEvent = whichTransitionEvent();

        $('#test').on('animationend webkitAnimationEnd', function(e){            
            $('#test').toggleClass('anim');
        }); 

        $('#button2').click(function(evt) {   

            $('#test').toggleClass('anim');

            $('#test-wrapper').css({
                backgroundColor:'red',
                boxShadow: '1px 1px 40px red'
            });

            evt.preventDefault();
       });  

        var tights = [
            {id:'tight-red',    filename:'assets/images/lisboa/2014-03-15 11.30.09.jpg'},
            {id:'tight-yellow', filename:'assets/images/lisboa/2014-03-15 11.32.04.jpg'},
            {id:'tight-blue',   filename:'assets/images/lisboa/2014-03-15 11.32.14.jpg'},
            {id:'tight-orange', filename:'assets/images/lisboa/2014-03-15 11.36.00.jpg'},
            {id:'tight-black',  filename:'assets/images/lisboa/2014-03-15 11.42.53.jpg'},
            {id:'tight-dark-blue', filename:'assets/images/lisboa/2014-03-15 11.43.59.jpg'},
            {id:'tight-white',  filename:'assets/images/lisboa/2014-03-15 11.44.22.jpg'},
        ],

        tightsCarrousel = new app.CarrouselView(tights, '#tights',{itemsToShow:3}); 
 
    });  
    </script>
</body>
</html>